.image-carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Lisää tyhjää tilaa kehyksen ja kuvien väliin */
  gap: 20px; /* Väli kuvien välillä */
}

.carousel-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: transform 5s ease-in-out;
}

.carousel-image-container {
  width: calc(50% - 40px); /* Olettaen, että halutaan näyttää kaksi kuvaa, 40px on väli kuvien välillä */
  height: 300px; /* Korkeus määräytyy leveyden mukaan */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Piilottaa kuvan yli menevät osat */
  margin: 10px; /* Väli kuvien välillä ja karusellin reunasta */
  border-radius: 25px; /* Pyöristetyt kulmat */
}


.active-image,
.side-image {
  width: 700px; /* Vähennetään gap verran leveydestä */
  height: 450px; /* Säilytetään kuvasuhde */
  object-fit: cover;
  border-radius: 25px; /* Pyöristetyt reunat */
   transform: translateX(0);
   transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* Tarkista tämä rivi */
  z-index: 2;
}

.active-image {
  width: 900px; /* Kuvan leveys on puolet containerin leveydestä miinus haluttu gap */
  height: 550px; /* Kuvan korkeus */
  object-fit: cover; /* Skaalaa kuva peittämään koko alue säilyttäen kuvasuhteen */
  object-position: center; /* Asettaa kuvan keskelle */
  border-radius: 25px; /* Pyöristää kuvan kulmat */
}

.side-image-left {
  transform: translateX(-2%);
  opacity: 0.4;
}

.side-image-right {
  transform: translateX(2%);
  opacity: 0.4;
}

.side-image {
  opacity: 0.4; /* Tehdään sivukuvista läpinäkyvämpiä */
  z-index: 1; /* Varmistetaan, että nämä kuvat ovat taustalla */
}

.gallery-section {
  margin-top: 20px; /* Säätää otsikon ylämarginaalia */
  padding-top: 20px; /* Lisää tyhjää tilaa ennen otsikkoa */
  width: 100%; /* Asettaa leveyden */
  text-align: center; /* Keskittää tekstiä */
}

.gallery-section h2 {
  padding: 0 20px; /* Lisää paddingia otsikon molemmille puolille */
  margin-bottom: 20px; /* Lisää tyhjää tilaa otsikon alapuolelle */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 22px;
  opacity: 0.6;
  z-index: 3;
  padding: 10px;
  border-radius: 15px;
}

.carousel-button:hover {
  opacity: 0.9; /* Hieman korkeampi peittävyys hover-tilassa */
}

.carousel-button.previous {
  left: 20px; /* Asettaa vasemman napin 20px päähän vasemmasta reunasta */
}

.carousel-button.next {
  right: 20px; /* Asettaa oikean napin 20px päähän oikeasta reunasta */
}

/* HomePage.css */
.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  width: 100%;
  
  
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  
}

.content {
  position: relative;
  z-index: 2;
  padding-top: 20px;
  text-align: center;
}

.splitContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  width: 90%;
}

.textContainer,
.iframeContainer {
  width: 45%;
}

.iframeContainer {
  margin: 40px auto 0; /* Increased top margin universally */
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  border-radius: 25px;
}


.responsiveIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Media queries for screen sizes 768px and below */
@media (max-width: 768px) {
  .splitContainer {
    flex-direction: column;
  }

  .textContainer,
  .iframeContainer {
    width: 100%;
  }

  .iframeContainer {
    margin-top: 40px; /* Increased top margin for more space */
    padding-bottom: 75%; /* Increased padding-bottom for a taller virtual tour */
  }
}
